<?xml version="1.0" encoding="utf-8"?>
<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload ="true"
	  internalLogLevel ="Info"
	  internalLogFile="C:\TASKS\EA\DESARROLLOS\Interfaces\MultiplesJobs_Interface\LogsTest\NLogInfo.txt">-->
	
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload ="true"
	  internalLogLevel ="Info"
	  internalLogFile="C:\DesarrollosProduccion\EA\MultiplesJobs_Interface\Logs\NLogInfo.txt">

	

	<extensions>
		<add assembly="Nlog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="all_logs" xsi:type="File" fileName="C:\DesarrollosProduccion\EA\MultiplesJobs_Interface\Logs\nlog-all-${shortdate}.log"/>
		<!--<target name="all_logs" xsi:type="File" fileName="C:\TASKS\EA\DESARROLLOS\Interfaces\MultiplesJobs_Interface\LogsTest\nlog-all-${shortdate}.log"/>-->
		<target name="relevant_logs" xsi:type="File" fileName="C:\DesarrollosProduccion\EA\MultiplesJobs_Interface\Logs\nlog-relevant-${shortdate}.log"/>
		<!--<target name="relevant_logs" xsi:type="File" fileName="C:\TASKS\EA\DESARROLLOS\Interfaces\MultiplesJobs_Interface\LogsTest\nlog-relevant-${shortdate}.log"/>-->

	</targets>
	<rules>
		
		<logger name="*" minlevel="Info" writeTo="all_logs" />
		
		<logger name="*" minlevel="Warn" writeTo="relevant_logs" />

	</rules>
</nlog>